@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Montserrat:wght@600;700;800&display=swap');


:root {
  --font-headlines: 'Syne', sans-serif;
  --font-body: 'Space Grotesk', sans-serif;

  --color-primary: #121212;       
  --color-secondary: #0a65fe;     
  --color-tertiary: #ffdd00;      
  --color-neutral-bg: #F5F7F8;    
  --color-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
body {
  background-color: var(--color-white);
  color: var(--color-primary);
  -webkit-font-smoothing: antialiased;
}

